html, body{
  height: 100%;
  --part-size: 15px;
  margin: 0;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-color: #626670;
}

.fire_shaft {
  position: relative;
  bottom:-15;
}

.particle {
  width: var(--part-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: .85;
  position:fixed;
  top: 100%;
  filter: blur(2px);
  animation: burn 1s linear forwards;
}

@keyframes burn {
  100%{
      transform: scale(.7);
      top: 0;
      opacity: 0;
      display: none;
  }
}

li {
  font-size: larger;
  color: rgb(74, 183, 207);
  padding:10px;
  text-align: center;
}

a:link {
  color: rgb(74, 183, 207);
}

a:visited {
  color: rgb(123, 107, 218);
}

a:hover {
  color: rgb(74, 207, 149);
}

a:active {
  color: rgb(207, 98, 74);
}

#welcomeText { 
  background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
  color: rgb(113, 148, 164);
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 80px;
  border-bottom: 10px solid #B43757;
  position: relative; /* Stay fixed */
  width: wrap;
  padding: 25px;
}

#welcomeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
    /* The image used */
    background-image: url("Vote.jpg");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div {
  height: fit-content; 
  padding: 1%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  height: fit-content; 
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-color: #0e141a;  
  border: 4px solid #32466d;
  border-radius: 32px;
}

#meImg {
  height: 30%; 
  width: 15%;
  margin-right:5%;
  margin-left:2%;
  margin-top: 5%;
    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-color: #0e141a;  
  border: 4px solid #32466d;
  border-radius: 32px;
}

h1.cardText {
  color: rgb(113, 148, 164);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 60px;
  width: wrap;
  text-align: center;
  text-decoration: underline;
}

h1.smallCardText {
  color: rgb(99, 150, 161);
  font-variant: small-caps;
  font-size: 24px;
  width: wrap;
  text-align: center;
  padding: 5px;
}
